<h1>Books</h1>

<% @books.each do |list| %>
  <p>Title</p>
  <div><%= book.title %></div>
  <p>Body</p>
  <div><%= book.body %></div>

<% end %>



<h2>New Book</h2>

<%= form_with model: @book, url: '/books', method: :post do |f|%>
<h4>Title</h4>
<%= f.text_field :title %>

<h4>Body</h4>
<%= f.text_field :body %>

<div><%= f.submit 'Create Book' %></div>

<% end %>

